extends ../layout.pug

block content
  if flash
    .alert(class=`alert-${flash.type}` role='alert')= flash.message
  h2 Estados
  table.table
    thead
      tr
        th ID
        th Nombre
        th Acciones
    tbody
      each status in statuses
        tr
          td= status.id
          td= status.name
          td
            if currentUser
              a.btn.btn-sm.btn-outline-primary(href=`/statuses/${status.id}/edit`) Editar
              form.d-inline(action=`/statuses/${status.id}` method='post')
                input(type='hidden' name='_method' value='DELETE')
                button.btn.btn-sm.btn-outline-danger(type='submit') Eliminar
  if currentUser
    a.btn.btn-primary(href='/statuses/new') Nuevo estado
